body {
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family: 'Work Sans', sans-serif;
    color: #404042;
}
.container {
    background: white;
    border: 2px solid #404042;
    border-radius: 8px;
    margin: 100px auto;
    width: 50%;
    max-width: 350px;
    padding: 10px;
    text-align: center;
    vertical-align: center;
}
h1 {
    font-size: 35px;
}
h1 i{
    color: #2EC4BD;
}

input {
    width: 70px;
    border: 2px solid #2EC4BD;
    border-radius: 6px;
    outline: none;
}
.btn {
    color: #2EC4BD;
    background: transparent;
    border: 2px solid #2EC4BD;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 16px;
    margin: 15px;
    padding: 5px 10px;
    transition: .5s;
    outline: none;
}
.btn:hover{
    color: white;
    background: #2EC4BD;
}
.hide {
    display: none;
}